In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [18]:
dataset = pd.read_csv("store_data.csv", header=None)

In [19]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
transactions = []
for i in range(dataset.shape[0]):
    transac = []
    for j in range(dataset.shape[1]):
        if(dataset.values[i, j] != dataset.values[i, j]):
            break
        else:
            transac.append(dataset.values[i, j])
    transactions.append(transac)

In [21]:
transac_encoder = TransactionEncoder()
te_ary = transac_encoder.fit(transactions).transform(transactions, sparse=True)
df = pd.DataFrame.sparse.from_spmatrix(te_ary, columns=transac_encoder.columns_)
df

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [29]:
df = df.sample(n=3000)
df

,frozen smoothie,mayonnaise,energy bar,fresh tuna,dessert wine,magazines,pepper,white wine,bramble,nonfat milk,...,zucchini,pickles,herb & pepper,soda,grated cheese,mashed potato,turkey,meatballs,red wine,antioxydant juice
1578,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4553,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
465,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5699,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4444,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5644,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
6111,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4195,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1690,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [30]:
frequent_items = apriori(df, min_support = 0.01, use_colnames=True)

In [31]:
frequent_items

      support                                  itemsets
0    0.065000                         (frozen smoothie)
1    0.027000                              (energy bar)
2    0.019667                              (fresh tuna)
3    0.010333                               (magazines)
4    0.026667                                  (pepper)
..        ...                                       ...
97   0.010000  (french fries, mineral water, spaghetti)
98   0.010000            (ground beef, spaghetti, milk)
99   0.010000        (ground beef, mineral water, milk)
100  0.015667   (ground beef, mineral water, spaghetti)
101  0.017000          (spaghetti, mineral water, milk)

[102 rows x 2 columns]

In [32]:
frequent_items = apriori(df, min_support = 0.01, use_colnames=True)
frequent_items['length'] = frequent_items['itemsets'].apply(lambda x: len(x))
frequent_items

      support                                  itemsets  length
0    0.065000                         (frozen smoothie)       1
1    0.027000                              (energy bar)       1
2    0.019667                              (fresh tuna)       1
3    0.010333                               (magazines)       1
4    0.026667                                  (pepper)       1
..        ...                                       ...     ...
97   0.010000  (french fries, mineral water, spaghetti)       3
98   0.010000            (ground beef, spaghetti, milk)       3
99   0.010000        (ground beef, mineral water, milk)       3
100  0.015667   (ground beef, mineral water, spaghetti)       3
101  0.017000          (spaghetti, mineral water, milk)       3

[102 rows x 3 columns]

In [33]:
frequent_items[frequent_items['itemsets'] == {'milk'}]

     support itemsets  length
28  0.130667   (milk)       1

In [34]:
rules = association_rules(frequent_items, metric="lift", min_threshold = 1)
print(rules)

               antecedents                 consequents  antecedent support  \
0           (french fries)           (frozen smoothie)            0.175000
1        (frozen smoothie)              (french fries)            0.065000
2        (frozen smoothie)                      (milk)            0.065000
3                   (milk)           (frozen smoothie)            0.130667
4        (frozen smoothie)                 (spaghetti)            0.065000
..                     ...                         ...                 ...
133      (milk, spaghetti)             (mineral water)            0.038667
134  (mineral water, milk)                 (spaghetti)            0.048000
135            (spaghetti)       (mineral water, milk)            0.173667
136        (mineral water)           (milk, spaghetti)            0.227333
137                 (milk)  (mineral water, spaghetti)            0.130667

     consequent support   support  confidence      lift  leverage  conviction
0              0.065000  0.013000    0.074286  1.142857  0.001625    1.010031
1              0.175000  0.013000    0.200000  1.142857  0.001625    1.031250
2              0.130667  0.014333    0.220513  1.687598  0.005840    1.115263
3              0.065000  0.014333    0.109694  1.687598  0.005840    1.050201
4              0.173667  0.017333    0.266667  1.535509  0.006045    1.126818
..                  ...       ...         ...       ...       ...         ...
133            0.227333  0.017000    0.439655  1.933967  0.008210    1.378913
134            0.173667  0.017000    0.354167  2.039347  0.008664    1.279484
135            0.048000  0.017000    0.097889  2.039347  0.008664    1.055302
136            0.038667  0.017000    0.074780  1.933967  0.008210    1.039032
137            0.062333  0.017000    0.130102  2.087199  0.008855    1.077904

[138 rows x 9 columns]